*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.navbar{
    background-color: black;
    height: 65px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
   
}
.nav_left{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 30px;
    
}
.nav_left > img{
    width: 50px;
}
.i{
    background-color: rgba(53, 53, 53, 0.377);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 12px;
}
 .i > i{
    color: white;
    align-items: center;
    font-size: 1.3rem;
}
.nav_center{
    width: 100%;
    background-color: rgba(53, 53, 53, 0.377);
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    align-items: center;
    padding: 13px;
}
.nav_center > .search{
    color: rgba(250, 247, 247, 0.688);
    font-size: 1.4rem;
}
.nav_center > input{
    background-color: transparent;
    width: 86%;
    border: none;
    outline: none;
    color: white;
    margin-left: 20px;
}
.nav_center > .file{
    color: rgba(250, 247, 247, 0.688);
    font-size: 1.4rem;
    border-left: 1px solid white;
    padding: 10px;
}

.nav_right{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
  
}
.signup{
    background-color:transparent;
    color: rgba(250, 247, 247, 0.688);
    width: 100px;
    border: none;
    font-size: 1rem;

}
.login{
    background-color: white;
    color: black;
    width: 100px;
    border-radius: 20px;
    font-size: 1rem;

}



/* body start */
.body{
   display: flex;
   height: auto;
   width: 100wh;
   gap: 20px;
   background-color: black;
   
}
.body_left{
   height: auto;
   width: 600px;
   background-color: rgba(53, 53, 53, 0.377);
   padding: 10px;
   border-radius: 10px;
  
}
.body_right{
    background-color: rgba(53, 53, 53, 0.377);
    height: 670px;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
}
.left{
    height: 360px;
    width: 100%;
    overflow: auto;
}
.left1{
    display: flex;
    justify-content: space-between;
    padding: 10px;
 }
.left1 > i{
    color: rgba(250, 247, 247, 0.688);
    font-size: 1.3rem;
}
.left1 > p{
    color: rgba(250, 247, 247, 0.688);
    margin-left: -170px;
}
.left2{
    height: 160px;
    background-color: rgba(35, 32, 32, 0.485);
    padding: 15px 25px;
    margin-top: 30px;
    border-radius: 7px;
}
.p1{
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.p2{
    color: white; 
    margin-top: 5px;
}
.left2 > button{
    background-color: white;
    color:black;
    padding: 6px 15px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 35px;
}
.leftb{
    height: 130px;
    width: 100%;
    padding: 20px;
    margin-top: 40px;
  
}
span{
    color: rgb(203, 197, 197);
    padding: 8px;
    font-size: 0.8rem;
    
   
}
#btn{
    color: white;
    background-color: transparent;
    padding: 6px 20px;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 28px;
}

/* Right side start */
.right_main{
    height: 300px;
    width: 100%;
}
.r_top{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.r_cen{
    gap: 30px;
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
}
.artist > img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.album{
    border-radius: 10px !important; 
}
.foot{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.foot1 > p{
    color: rgb(74, 32, 32);
}



